<template>
    <div>
        <md-dialog-confirm
                :md-title="confirm.title"
                :md-content-html="confirm.contentHtml"
                :md-ok-text="confirm.ok"
                :md-cancel-text="confirm.cancel"
                @close="onClose"
                ref="dialog5">
        </md-dialog-confirm>

        <div class="row">
            <div class="pg-item" v-if="model.data.length > 2">
                <md-button class="md-raised md-dense" :disabled="!model.next_page_url" @click.native="next">التالى </md-button>
                <md-button class="md-raised md-dense"  :disabled="!model.prev_page_url" @click.native="prev">السابق</md-button>
            </div>
            <br>
            <div class="col-md-6" v-for="data in  model.data">
                <md-card>
                    <md-card-media-cover md-text-scrim>
                        <md-card-media md-ratio="16:9">
                            <md-image :md-src="`/uploads/${data.image}`" :alt="data.title"></md-image>
                        </md-card-media>

                        <md-card-area>
                            <md-card-header>
                                <div class="md-title">
                                    <router-link :to="{name:'sliderShow',params:{id:data.id}}">{{data.title}}</router-link>
                                </div>
                                <div class="md-subhead">{{data.description}}</div>

                            </md-card-header>

                            <md-card-actions>
                                <md-button @click.native="activation(data.id)">
                                    {{data.is_active?'إلغاء التفعيل':'تفعيل'}}
                                </md-button>
                                <md-button  @click.native="openDialog('dialog5',data.id)">حذف</md-button>
                            </md-card-actions>
                        </md-card-area>
                    </md-card-media-cover>
                </md-card>

            </div>
            <div class="pg-item">
                <md-button class="md-raised md-dense" :disabled="!model.next_page_url" @click.native="next">التالى </md-button>
                <md-button class="md-raised md-dense"  :disabled="!model.prev_page_url" @click.native="prev">السابق</md-button>
            </div>
        </div>
    </div>

</template>

<script>
    import  dataViewer from '../../components/DataViewer.vue'
    export default {
        created(){
            this.$store.commit('addBreads',this.breads);
            this.fetchData()
        },
        data(){
            return {
                breads:{
                    page_title:"الصور المتحركة",
                    crumbs:[
                        {title:'الرئيسيه',link:'dashboard'},
                        {title:'الصور المتحركة'},
                    ]
                },
                confirm: {
                    title: 'هل تريد حذف هذه الصور ؟',
                    contentHtml: 'سوف يتم حذف الصور نهائياً ولا يمكنك الرجوع لها مره أخري',
                    ok: 'تأكيد',
                    cancel: 'إلغاء'
                },

                deleteItem:null,

                source: '/slider',
                model:{
                    data:[]
                },
                params:{
                    column:'id',
                    direction:'desc',
                    per_page:4,
                    page:1,
                    search_column:'id',
                    search_operator:'equal_to',
                    search_query_1:'',
                    search_query_2:''
                },
                operators:{
                    not_equal	:	'!=',
                    equal_to	:	'=',
                    less_than	:	'<',
                    greater_than:	'>',
                    less_than_or_equal_to	:	'<=',
                    greater_than_or_equal_to	:	'>=',
                    in	: 'IN',
                    not_in	:	'NOT_IN',
                    like	:	'LIKE',
                    between	:	'BETWEEN',
                }
            }
        },
        methods:{
            fetchData(){
                var vm = this;
                vm.$store.commit('loader',true);
                axios.get(this.buildUrl()).then(function(res){
                    Vue.set(vm.$data,'model',res.data.model);
                    vm.$store.commit('loader',false);
                },function(err){
                    vm.$store.commit('loader',false);
                });
            },
            buildUrl(){
                var p = this.params;
                return `${this.source}?page=${p.page}&column=${p.column}&direction=${p.direction}&per_page=${p.per_page}&search_column=${p.search_column}&search_operator=${p.search_operator}&search_query_1=${p.search_query_1}&search_query_2=${p.search_query_1}`
            },
            activation(object){
                var vm = this;
                axios.get('/slider/activation/'+object).then(function(res){
                    if(res.data.success){
                        toastr.success(res.data.msg)
                        vm.fetchData()
                    }
                },function(err){});

            },
            next(){
                if(this.model.next_page_url){
                    this.params.page++;
                    this.fetchData()
                }
            },
            prev(){
                if(this.model.prev_page_url){
                    this.params.page--;
                    this.fetchData()
                }
            },

            destroy(){
                if(!this.deleteItem){
                    return;
                }
                var vm = this;
                axios.delete('/slider/'+this.deleteItem).then(function(res){
                    if(res.data.deleted){
                        toastr.success("تم الحذف...")
                        vm.fetchData()
                    }
                },function(err){

                });

            },
            openDialog(ref,id) {
                this.$refs[ref].open();
                this.deleteItem = id;
            },
            closeDialog(ref) {
                this.$refs[ref].close();
            },
            onClose(type) {
                if(type === 'ok'){
                    this.destroy();
                }
            },


        },
        components:{dataViewer}
        }
</script>