<template>
    <div class="row">
        <div class="col-md-6">
            <basic-form :src="src" :form="form" @dataSaved="fetchForm" @hasErrors="errors = $event" method="post">
                <div class="form-group">

                    <md-input-container :class="{'md-input-invalid':errors.title}">
                        <label>عنوان الصورة</label>
                        <md-input v-model="form.title"></md-input>
                        <span class="md-error" v-if="errors.title">{{errors.title[0]}}</span>
                    </md-input-container>
                </div>
                <div class="form-group">

                    <md-input-container :class="{'md-input-invalid':errors.url}">
                        <label>رابط الصورة</label>
                        <md-input v-model="form.url"></md-input>
                        <span class="md-error" v-if="errors.url">{{errors.url[0]}}</span>
                    </md-input-container>
                </div>

                <div class="form-group">
                    <md-input-container :class="{'md-input-invalid':errors.description}">
                        <label>الوصف</label>
                        <md-textarea v-model="form.description"></md-textarea>
                        <span class="md-error" v-if="errors.description">{{errors.description[0]}}</span>
                    </md-input-container>
                </div>

                <div>
                    <md-checkbox v-model="form.is_active"> عرض</md-checkbox>
                </div>
            </basic-form>
        </div>
        <div class="col-md-6">
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <div class="md-tile">رفع صورة من جهازك</div>
                    </md-card-header-text>
                </md-card-header>
                <image-upload v-model="form.image"></image-upload>
            </md-card>
        </div>
    </div>
</template>

<script>
    import imageUpload from '../../components/images/imageUpload.vue';
    import basicForm from '../../components/form.vue'
    export default{
        data(){
            return {
                breads:{
                    page_title:'تعديل المحتوي',
                    crumbs:[
                        {title:'الرئيسيه',link:'dashboard'},
                        {title:'الصور المتحركه',link:'sliderIndex'},
                        {title:'تعديل المحتوي'},
                    ]
                },

                form: {},
                src: '/slider/'+this.$route.params.id+'/update',
                errors: {},
                loading: false
            }
        },
        created(){
            this.fetchForm();
            this.$store.commit('addBreads',this.breads);
        },
        methods: {
            fetchForm(){
                var vm = this;
                this.errors = {};
                vm.$store.commit('loader',true);
                axios.get('/slider/'+this.$route.params.id+'/edit').then(function(res){
                    Vue.set(vm.$data, 'form', res.data.form)
                    vm.$store.commit('loader',false);
                }, function(error) {
                    vm.$store.commit('loader',false);
                })
            }


        },

        components: {
            imageUpload,
            basicForm
        }

    }
</script>
