<template>
    <div class="row">
        <div class="col-md-8">
            <basic-form :src="src" :form="form" @dataSaved="saved" @hasErrors="errors = $event">
                <div class="form-group">

                    <md-input-container :class="{'md-input-invalid':errors.name}">
                        <label>الأسم</label>
                        <md-input v-model="form.name"></md-input>
                        <span class="md-error" v-if="errors.name">{{errors.name[0]}}</span>
                    </md-input-container>
                </div>

                <div class="form-group">

                    <md-input-container :class="{'md-input-invalid':errors.email}">
                        <label>البريد الإلكتروني</label>
                        <md-input v-model="form.email"></md-input>
                        <span class="md-error" v-if="errors.email">{{errors.email[0]}}</span>
                    </md-input-container>
                </div>


                <md-button @click.native="hasChangePass = !hasChangePass">{{hasChangePass?'إخفاء الحقول':'تغير  كلمة المرور'}}</md-button>

                <div v-if="hasChangePass">

                    <div class="form-group">
                        <md-input-container :class="{'md-input-invalid':errors.old_password}" md-has-password>
                            <label>كلمة المرور الحاليه</label>
                            <md-input type="password" v-model="form.old_password"></md-input>
                            <span class="md-error" v-if="errors.password">{{errors.old_password[0]}}</span>
                        </md-input-container>
                    </div>

                    <div class="form-group">
                        <md-input-container :class="{'md-input-invalid':errors.password}" md-has-password>
                            <label>كلمة المرور الجديده</label>
                            <md-input type="password" v-model="form.password"></md-input>
                            <span class="md-error" v-if="errors.password">{{errors.password[0]}}</span>
                        </md-input-container>
                    </div>

                    <div class="form-group">
                        <md-input-container :class="{'md-input-invalid':errors.password_confirmation}" md-has-password>
                            <label>تأكيد كلمة المرور الجديده</label>
                            <md-input type="password" v-model="form.password_confirmation"></md-input>
                            <span class="md-error" v-if="errors.password_confirmation">{{errors.password_confirmation[0]}}</span>
                        </md-input-container>
                    </div>

                </div>

            </basic-form>
        </div>
        <div class="col-md-4">
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <div class="md-tile">رفع صورة من جهازك</div>
                    </md-card-header-text>
                </md-card-header>
                <image-upload img="/images/avatar.png"></image-upload>
            </md-card>
        </div>
    </div>
</template>

<script>
    import imageUpload from '../../components/imageUpload.vue';
    import basicForm from '../../components/form.vue';

    export default{
        data(){
            return {
                form: {},
                src: '/user/update',
                errors: {},
                loading: false,
                hasChangePass:false
            }
        },
        created(){
            this.fetchForm();
        },


        methods: {
            fetchForm(){
                var vm = this;
                this.errors = {};
                vm.$store.commit('loader',true);
                axios.get('/user/edit').then(function(res){
                    Vue.set(vm.$data, 'form', res.data.form)
                    vm.$store.commit('loader',false);
                }, function(error) {
                    vm.$store.commit('loader',false);
                })
            },
            saved(){
                this.fetchForm();
                this.hasChangePass = false;
                this.$store.commit('initUser',this.form)

            }


        },

        components: {
            imageUpload,
            basicForm
        }

    }
</script>
