<template>
    <div id="app">
        <zk-navbar></zk-navbar>
        <div id="main-wrapper">
            <!--Main Siebar-->
            <zk-sidebar></zk-sidebar>
            <!--Main conent-->
            <div id="main-content">
            <zk-page-heading></zk-page-heading>
                <div class="page-content">
                    <zk-card-loading v-if="loading"></zk-card-loading>
                    <transition name="slide" mode="out-in">
                        <router-view></router-view>
                    </transition>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import sidebar from './template/sidebar.vue';
    import navbar from './template/navbar.vue';
    import pageHeading from './components/pageHeading.vue';
    import loading_app from './helpers/page-loading'
    export default{
        computed:{
            loading(){
                return this.$store.state.global.loading;
            }
        },
        components:{
            'zk-navbar':navbar,
            'zk-sidebar':sidebar,
            'zk-page-heading':pageHeading
        }
    }
</script>

<style>
    .page-content{
        position:relative;
    }
    .fade-enter{
        opacity: 0;
    }
    .fade-enter-active{
        transition:all .5s ease-in-out ;
    }
    .fade-leave{

    }
    .fade-leave-active{
        transition:all .5s ease-in-out ;
        opacity: 0;
    }

    .slide-enter{}
    .slide-enter-active{
        animation: slide-in .2s ease-out forwards;
        opacity: 0.5;
        transition: opacity .2s ease-in-out;
    }
    .slide-leave{}
    .slide-leave-active{
        animation: slide-out 0.2s ease-out forwards;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }


    @keyframes slide-in {
        from{
            transform: translateY(50px);
        }
        to{
            transform: translateY(0);
        }
    }
    @keyframes slide-out {
        from{
            transform: translateY(0);
        }
        to{
            transform: translateY(50px);
        }
    }
</style>