<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <data-viewer :head="head" :source="source" :deleteUrl="deleteUrl" header_title="اعضاء القائمة البريديه">
                <template scope="props">
                    <md-table-row  md-selection :md-item="props.item" key="props.item.id">
                        <md-table-cell>{{props.item.id}}</md-table-cell>
                        <md-table-cell>{{props.item.email}}</md-table-cell>
                        <md-table-cell>{{props.item.created_at}}</md-table-cell>
                    </md-table-row>
                </template>
            </data-viewer>
        </div>
    </div>
</template>

<script>
    import  dataViewer from '../../components/DataViewer.vue'
    export default {

        data(){
            return {
                source: '/subscribe',
                deleteUrl: '/subscribe/delete',
                head:[
                    {title:'id',key:'id'},
                    {title:'البريد الإلكتروني',key:null},
                    {title:'إُضيف فى',key:'created_at'}
                ]

            }
        },
        components:{dataViewer}
    }
</script>