<template>
    <div class="row">
        <div class="col-md-8">
            <basic-form :src="src" :form="form" @dataSaved="fetchForm" @hasErrors="errors = $event">
                <div class="form-group">

                    <md-input-container :class="{'md-input-invalid':errors.title}">
                        <label>العنوان</label>
                        <md-input v-model="form.title"></md-input>
                        <span class="md-error" v-if="errors.title">{{errors.title[0]}}</span>
                    </md-input-container>
                </div>
                <div class="form-group">

                    <md-input-container :class="{'md-input-invalid':errors.author}">
                        <label>الكاتب</label>
                        <md-input v-model="form.author"></md-input>
                        <span class="md-error" v-if="errors.author">{{errors.author[0]}}</span>
                    </md-input-container>
                </div>


                <div class="form-group">

                    <md-input-container :class="{'md-input-invalid':errors.small_content}">
                        <label>محتوي مصغر</label>
                        <md-textarea v-model="form.small_content"></md-textarea>
                        <span class="md-error" v-if="errors.samll_content">{{errors.small_content[0]}}</span>
                    </md-input-container>
                </div>


                <div class="form-group">
                    <label>المحتوي</label>
                    <froala :tag="'textarea'" :config="froalaConfig" v-model="form.content"></froala>
                    <span class="help-block" v-if="errors.content">{{errors.content[0]}}</span>

                </div>

                <div>
                    <md-checkbox v-model="form.is_active"> عرض</md-checkbox>
                </div>
            </basic-form>
        </div>
        <div class="col-md-4">
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <div class="md-tile">رفع صورة من جهازك</div>
                    </md-card-header-text>
                </md-card-header>
                <image-upload v-model="form.image"></image-upload>
            </md-card>
        </div>
    </div>
</template>

<script>
    import imageUpload from '../../components/images/imageUpload.vue';
    import basicForm from '../../components/form.vue';
    import {FroalaConfig}  from '../../helpers/FroalaConfig';

    export default{
        data(){
            return {
                breads:{
                    page_title:"تعديل المقاله",
                    crumbs:[
                        {title:'الرئيسيه',link:'dashboard'},
                        {title:'المقالات',link:'articleIndex'},
                        {title:'تعديل المقاله'},
                    ]
                },
                froalaConfig:FroalaConfig,
                form: {},
                src: `/article/${this.$route.params.id}/update`,
                errors: {},
                loading: false
            }
        },
        created(){
            this.fetchForm();
            this.$store.commit('addBreads',this.breads);

        },
        methods: {
            fetchForm(){
                this.errors = {};
                var vm = this
                this.$store.commit('loader',true);
                axios.get(`/article/${this.$route.params.id}/edit`).then(function(res){
                    Vue.set(vm.$data, 'form', res.data.form)
                    vm.$store.commit('loader',false);
                }, function(error) {
                    vm.$store.commit('loader',false);
                })
            }


        },

        components: {
            imageUpload,
            basicForm
        }

    }
</script>
