<template>
    <div id="dashboard" class="text-center">
        <div class="wedgits">
            <div class="row">
                <div class="col-md-2">
                    <div class="wedgit">
                    <p>رسائل غير مقرؤه</p>
                        <div class="wedgit-count">
                            <md-icon>email</md-icon>{{counters.messages}}
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="wedgit">
                    <p>المقالات</p>
                        <div class="wedgit-count">
                            <md-icon>chrome_reader_mode</md-icon>{{counters.articles}}
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="wedgit">
                    <p>الخدمات</p>
                        <div class="wedgit-count">
                            <md-icon>work</md-icon>{{counters.services}}
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="wedgit">
                    <p>قالوا عنا</p>
                        <div class="wedgit-count">
                            <md-icon>feedback</md-icon>{{counters.testimonials}}
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="wedgit">
                    <p>الصور المتحركة</p>
                        <div class="wedgit-count">
                            <md-icon>photos</md-icon>{{counters.sliders}}
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="wedgit">
                    <p>الصفحات</p>
                        <div class="wedgit-count">
                            <md-icon>pages</md-icon>{{counters.pages}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                counters:{},
                breads:{
                    page_title:"الرئيسيه",
                    crumbs:[
                        {title:'الرئيسيه'}
                    ]
                }
            }
        },
        created(){
            this.$store.commit('addBreads',this.breads);
            this.fetchCount()
        },
        methods:{
            fetchCount(){
                this.$store.commit('loader',true);
                var vm = this;
                axios.get('/models/counter').then(function (res) {
                    vm.counters = res.data
                    vm.$store.commit('loader',false);

                })
            }
        }
    }
</script>

<style>
    .wedgit{
        background-color: #fff;
        box-shadow: 1px 3px 6px #ddd;
        padding:10px;
        color:#1AB394;
        text-align:center
    }
    .wedgit p {
        font-size:18px;
    }
    .wedgit-count{
        font-size: 50px;
        font-family: fantasy;
        padding: 20px;
    }
    .wedgit-count i{
        font-size: inherit;
        margin-left:10px
    }
</style>