<template>
    <div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!--<zk-card-loading :loading="loading" v-if="loading"></zk-card-loading>-->

                <md-card>
                    <md-card-header>
                        <md-card-header-text>
                            <div claass="md-title">
                                إعدادات الموقع
                            </div>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <form role="form" @submit.prevent="saveForm(form)">
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <md-input-container :class="{'md-input-invalid':errors.site_name}">
                                        <label>عنوان الموقع</label>
                                        <md-input v-model="form.site_name"></md-input>
                                        <span class="md-error" v-if="errors.site_name">{{errors.site_name[0]}}</span>
                                    </md-input-container>
                                </div>

                                <div class="form-group col-md-6">

                                    <md-input-container :class="{'md-input-invalid':errors.email}">
                                        <label>البريد الإلكتروني</label>
                                        <md-input v-model="form.email"></md-input>
                                        <span class="md-error" v-if="errors.email">{{errors.email[0]}}</span>
                                    </md-input-container>
                                </div>

                                <div class="form-group col-md-12">
                                    <md-input-container :class="{'md-input-invalid':errors.address}">
                                        <label>العنوان</label>
                                        <md-input v-model="form.address"></md-input>
                                        <span class="md-error" v-if="errors.address">{{errors.address[0]}}</span>
                                    </md-input-container>
                                </div>

                                <div class="form-group col-md-6">
                                    <md-input-container :class="{'md-input-invalid':errors.facebook}">
                                        <label>الفيس بوك</label>
                                        <md-input v-model="form.facebook"></md-input>
                                        <span class="md-error" v-if="errors.facebook">{{errors.facebook[0]}}</span>
                                    </md-input-container>
                                </div>
                                <div class="form-group col-md-6">
                                    <md-input-container :class="{'md-input-invalid':errors.phone}">
                                        <label>رقم الهاتف</label>
                                        <md-input v-model="form.phone"></md-input>
                                        <span class="md-error" v-if="errors.phone">{{errors.phone[0]}}</span>
                                    </md-input-container>
                                </div>



                                <div class="form-group col-md-12">

                                    <md-input-container :class="{'md-input-invalid':errors.description}">
                                        <label>الوصف</label>
                                        <md-textarea v-model="form.description" maxlength="160"></md-textarea>
                                        <span class="md-error" v-if="errors.description">{{errors.description[0]}}</span>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="form-group col-md-12">

                                <label>الكلمات الدلاليه</label>
                                <md-chips v-model="form.keywords" md-input-placeholder="أضف ثم إضغط على زر Enter">
                                    <template scope="chip">{{ chip.value }}</template>
                                </md-chips>
                                <span class="md-error" v-if="errors.keywords">{{errors.keywords[0]}}</span>
                            </div>
                            <div>
                                <md-checkbox v-model="form.status" :value="form.status?true:false"> عرض</md-checkbox>
                            </div>

                            <md-button type="submit" class="md-raised md-primary">حفظ الإعدادات</md-button>

                        </form>

                    </md-card-content>
                </md-card>

            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                form: {},
                errors: {},
                loading: false,
                breads:{
                    page_title:"إعدادات الموقع",
                    crumbs:[
                        {title:'الرئيسيه',link:'dashboard'},
                        {title:'إعدادات الموقع'}
                    ]
                }

            }
        },
        created(){
            this.$store.commit('addBreads',this.breads);
            this.fetchForm();
        },
        methods: {
            fetchForm(){
                var vm = this;
                this.errors = {};
                vm.$store.commit('loader',true);
                axios.get('/site_settings').then((res) => {
                    Vue.set(vm.$data, 'form', res.data.form)
                    vm.$store.commit('loader',false);
                }, (error) => {
                    vm.$store.commit('loader',false);
                });
            },
            saveForm(data){
                this.loading = true;
                var vm = this
                axios.post('/site_settings', data).then((res) => {
                    if(res.data.saved){
                        toastr.success('تم حفظ الإعدادات الجديده')
                        vm.fetchForm();
                    }

                }, (error) => {
                    Vue.set(vm.$data, 'errors', error.response.data)
                    vm.toastErrors();
                })
            },
            toastErrors(){
                for (var error in this.errors) {
                    toastr.error(this.errors[error][0])
                }
            }
        }
    }
</script>