@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-rtl";
@import "master";
@import "node_modules/vue-material/dist/vue-material";
@import "node_modules/toastr/toastr";
@import "material-rtl";

//Content Config

.main-menu li > a{
  color:rgba(0, 0, 0, .87) !important;
}
.page-content{
  margin: 20px;
}

.fr-quick-insert{
  right:0 !important;
  left:auto !important;
  top:auto !important;
  button:0 !important;
}

.fr-qi-helper{
  right:0 !important;
  left:auto !important;
  width:auto !important;
  margin:0 !important;
  margin-right:50px !important;
}


.fr-toolbar{
  border-color: #1AB394 !important;
}


//Custom Upload
.file-upload {
  position: relative;
  overflow: hidden;
  background-color: #1AB394;
  box-shadow: none;
  border: none;
  color: #fff;
  padding: 8px 15px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-content: center;
  &:hover{
    background-color: #209880;
  }
  .md-icon{
    margin: 0 5px;
  }
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  left:0;
  bottom:0;
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.loading-page{
  background: rgba(243, 243, 243, 0.69);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 3;
  justify-content: center;
}

#main-sidebar{
  overflow: auto;
}

#main-sidebar::-webkit-scrollbar {
  width: 8px;
}

#main-sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
}

#main-sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.navbar-default{
  display: flex;
  align-content: center;
  align-items: center;
  .container-fluid{
    width: 100%;
  }
}

.user-details a{
  color: #fff !important;
}

.user-details .dropdown-menu li a {
  color:#9e9e9e !important;
  display: flex !important;
  align-items: center;
  .material-icons{
    margin-left:5px
  }
}

.v-center{
  display: flex;
  align-items: center;
  .material-icons{
    margin-left:5px
  }
}


#nprogress .bar{
  background-color: #fff !important;
  height:3px !important;
}

#nprogress .peg{
  box-shadow: none !important;
}