/*Global */

body{
    background-color:#f3f4f3;
    padding-top: 60px;
}

.dropdown-menu{
    min-width:100px;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border:none;
    border-radius: 0;

}

.dropdown-menu > li > a{
    padding:5px 10px;
    color:#797878
}

a{
    color:#676a6c;
}
a:hover,a:focus{
    color: #5e6c60;
    text-decoration: none;
}

.page-heading{
    background-color: #fff;
    padding: 20px 15px;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14);
    text-align: right;
}

.page-heading h4{
    color: #1ab394;
    font-weight: bold;}
/*Navbar*/

.navbar-default{
    background-color: #1ab394 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border:none;
}

.navbar-default .navbar-nav > li > a{
    color:#fff;
}

.navbar-default .navbar-nav > li > a .fa{
    font-size: 16px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    background: transparent;
    color:#fff;
}

.count-info .label {
    line-height: 12px;
    padding: 2px 5px;
    position: absolute;
    right: 6px;
    top: 5px;
}

/*End Navbar*/
#main-sidebar{
    width:220px;
    position: fixed;
    height:100%;
    background-color:#fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: all 1s cubic-bezier(0, 1.28, 0, 1.33);
    z-index: 3;
}
#main-content{
    margin-right:220px;
    transition:all 1s cubic-bezier(0, 1.28, 0, 1.33);

}

.open > .dropdown-menu{
    transition:all 1s cubic-bezier(0, 1.28, 0, 1.33);

}


.md-body #main-sidebar{
    transform: translateX(100%);
}
.md-body #main-content{
   margin-right: 0;
}

@media (max-width: 768px) {
    #main-content{
        margin-right: 0;

    }
}

/*sidebar*/

#user-info{
    min-height:100px;
    background: url(../img/header-bg.png);
    padding:3px 10px;
}


#user-info .user-img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url(../img/avatar.png) center center no-repeat;
    background-size: cover;
    border:2px solid #fff;
    margin: 5px auto;
}

#user-info .user-details{
    color: #eafff8;
    font-weight:bold;
    text-align: center;
    font-size: 12px;
}


.main-menu li > a{
    color: #676a6c;
    padding: 14px;
    font-weight: 400px;
    display: flex;
    align-items: center;
}

.main-menu li > a:hover{
    background-color:#f3f3f3
}

.main-menu{
    margin: 10px 0;
}

.main-menu li > a i.fa{
    margin: 0 5px 0 15px;
    font-size:18px
}



.active a{
    background-color:#f3f3f3;
    border-right: 2px solid #1ab394;
}