//Menu
a:hover,a:focus{
  text-decoration: none !important;
}
body.md-theme-default{
  background-color:#f3f3f3 !important;
}

.md-list-item .md-list-item-container > .md-icon:first-child{
  margin-left:10px;
  margin-right:0;
}

.md-list-item .md-list-item-container{
  text-align:right;
}


.md-table-card{
  overflow:hidden;
}



.md-input-container:after, .md-input-container label{
  right:0;
  left:0;
}

.md-input-container.md-has-password .md-toggle-password{
  left:0;
  right:auto
}


.md-table .md-table-head-text{
  float:right
}

.md-input-container label{
  font-size:12px
}



.md-checkbox .md-checkbox-label{

  margin-right:8px;
  margin-left:0;
}

.md-input-container .md-error{
  right:0;
  left:auto;
}

.md-card{
  margin-bottom:20px;
}


.md-card-header a{
  color:#fff !important
}
.md-card-header a:hover,.md-card-header  a:focus{
  text-decoration: none !important; ;
  color:#f3f3f3 ;
}


.md-table-card .md-table-pagination{
  padding-right:20px;
  text-align: right;
  justify-content:inherit;
}




ul:not(.md-list) > li + li{
  margin: 0;
}