<template>
    <div id="app">
        <froala :tag="'textarea'" :config="config" v-model="model"></froala>
    </div>
</template>
<script>
    export default {
        name: 'app',
        data () {
            return {
                config: {
                    events: {
                        'froalaEditor.initialized': function () {
                            console.log('initialized')
                        },
                        'froalaEditor.image.removed':function (e, editor, $img){
                            var img = $img.attr('src');
                            console.log(img);

                            axios.post('/dashboard/api/delete-image',{src:img}).then(res=>{
                                console.log(res);
                            },err=>{
                                console.log(err);
                            })
                        }
                    },
                    language: 'ar',
                    direction: 'rtl',
                    requestHeaders: {
                        'X-CSRF-TOKEN': window.Laravel.csrfToken,
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    imageUploadURL:'/dashboard/api/upload-image',
                    imageAllowedTypes: ['jpeg', 'jpg', 'png']


                },
                model: null
            }
        }
    }
</script>