<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <basic-form :src="src" :form="form" @dataSaved="fetchForm" @hasErrors="errors = $event">
                <div class="form-group">

                    <md-input-container :class="{'md-input-invalid':errors.speaker}">
                        <label>الأسم</label>
                        <md-input v-model="form.speaker"></md-input>
                        <span class="md-error" v-if="errors.speaker">{{errors.speaker[0]}}</span>
                    </md-input-container>
                </div>
                <div class="form-group">

                    <md-input-container :class="{'md-input-invalid':errors.content}">
                        <label>المحتوي</label>
                        <md-textarea v-model="form.content"></md-textarea>
                        <span class="md-error" v-if="errors.content">{{errors.content[0]}}</span>
                    </md-input-container>
                </div>


                <div>
                    <md-checkbox v-model="form.is_active"> عرض</md-checkbox>
                </div>
            </basic-form>
        </div>
    </div>
</template>

<script>
    import basicForm from '../../components/form.vue';

    export default{
        data(){
            return {
                breads:{
                    page_title:"إضافة محتوي جديد",
                    crumbs:[
                        {title:'الرئيسيه',link:'dashboard'},
                        {title:'قالوا عنا',link:'testimonialIndex'},
                        {title:'إضافة'},
                    ]
                },

                form: {},
                src: '/testimonial',
                errors: {},
                loading: false
            }
        },
        created(){
            this.$store.commit('addBreads',this.breads);
            this.fetchForm();
        },
        methods: {
            fetchForm(){
                var vm = this;
                this.errors = {};
                vm.$store.commit('loader',true);
                axios.get('/testimonial/create').then(function(res){
                    Vue.set(vm.$data, 'form', res.data.form)
                    vm.$store.commit('loader',false);
                }, function(error) {
                    vm.$store.commit('loader',false);
                })
            }


        },

        components: {
            basicForm
        }

    }
</script>
