<template>
    <div class="row">
        <div class="col-md-12">
            <data-viewer :head="head" :source="source" :deleteUrl="deleteUrl" header_title="خدماتنا">
                <template scope="props">
                    <md-table-row  md-selection :md-item="props.item" key="props.item.id">
                        <md-table-cell>{{props.item.id}}</md-table-cell>
                        <md-table-cell>
                            <router-link
                                    :to="{name:'serviceShow',params:{id:props.item.id}}">
                                {{props.item.title}}
                            </router-link>

                        </md-table-cell>
                        <md-table-cell>{{props.item.description.substring(0,60)}}...</md-table-cell>
                        <md-table-cell>{{props.item.is_active?'مٌفعل':'غير مفُعل'}}</md-table-cell>
                        <md-table-cell>{{props.item.created_at}}</md-table-cell>
                    </md-table-row>
                </template>
            </data-viewer>
        </div>
    </div>
</template>

<script>
    import  dataViewer from '../../components/DataViewer.vue'
    export default {

        data(){
            return {
                breads:{
                    page_title:"خدمات المكتب",
                    crumbs:[
                        {title:'الرئيسيه',link:'dashboard'},
                        {title:'خدمات المكتب'},
                    ]
                },
                source: '/service',
                deleteUrl: '/service/delete',
                head:[
                    {title:'id',key:'id'},
                    {title:'العنوان',key:null},
                    {title:'الوصف',key:null},
                    {title:'الحالة',key:'is_active'},
                    {title:'إُضيف فى',key:'created_at'}
                ]

            }
        },
        created(){
            this.$store.commit('addBreads',this.breads);
        },
        components:{dataViewer}
    }
</script>