<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <basic-form :src="src" :form="form" @dataSaved="fetchForm" @hasErrors="errors = $event">
                <div class="form-group">

                    <md-input-container :class="{'md-input-invalid':errors.title}">
                        <label>الخدمه</label>
                        <md-input v-model="form.title"></md-input>
                        <span class="md-error" v-if="errors.title">{{errors.title[0]}}</span>
                    </md-input-container>
                </div>
                <div class="form-group">

                    <md-input-container :class="{'md-input-invalid':errors.description}">
                        <label>وصف مصغر</label>
                        <md-textarea v-model="form.description"></md-textarea>
                        <span class="md-error" v-if="errors.description">{{errors.description[0]}}</span>

                    </md-input-container>
                </div>

                <div class="form-group">
                    <label>تفاصيل أكتر</label>
                    <froala :tag="'textarea'" :config="froalaConfig" v-model="form.content"></froala>
                    <span class="help-block" v-if="errors.content">{{errors.content[0]}}</span>

                </div>
                <div>
                    <md-checkbox v-model="form.is_active"> عرض</md-checkbox>
                </div>

            </basic-form>
        </div>
    </div>
</template>

<script>
    import {FroalaConfig}  from '../../helpers/FroalaConfig';
    import basicForm from '../../components/form.vue'

    export default{
        data(){
            return {
                form: {},
                src: `/service/${this.$route.params.id}/update`,
                froalaConfig: FroalaConfig,
                errors: {},
                loading: false
            }
        },
        created(){
            this.fetchForm();
        },
        methods: {
            fetchForm(){
                var vm = this;
                this.errors = {};
                vm.$store.commit('loader',true);
                axios.get(`/service/${this.$route.params.id}/edit`).then(function (res) {
                    Vue.set(vm.$data, 'form', res.data.form)
                    vm.$store.commit('loader',false);
                }, function (error) {
                    vm.$store.commit('loader',false);
                })
            }


        },

        components: {
            basicForm
        }

    }
</script>
