<template>
    <div class="image-wrapper">
        <image-preview :preview="value" @close="$emit('input',null)" v-if="value"></image-preview>
        <div class="image-upload" v-else>
            <button class="file-upload">
                <input type="file" accept="images/*" class="file-input" @change="upload">
                <md-icon>cloud_upload</md-icon>أختر صوره
            </button>
        </div>
    </div>
</template>

<script>
    import imagePreview from './imagePreview.vue'
    import Vue from 'vue'
    export default{
        props:{
            value:{
                type:[String,File],
                default:null
            }
        },
        methods:{
            upload(e){
                const files = e.target.files;
                if(files && files.length > 0){
                    this.$emit('input',files[0])
                }
            }
        },
        components:{imagePreview}
    }
</script>


<style>
    .image-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height:100px
    }
</style>
