<template>
    <div class="image-preview" v-if="image">
        <div class="btn-close" @click="$emit('close')">
            <md-button class="md-icon-button md-raised  md-warn">
                <md-icon>close</md-icon>
            </md-button>
        </div>
        <img :src="image" alt="">
    </div>
</template>

<script>
    export default{
        props:{
            preview:{
                type:[String,File],
                default:null
            }
        },
        created(){
            this.setPreview()
        },

        data(){
            return {
                image:null,
                size:null
            }
        },
        methods:{
            setPreview(){
                if(this.preview instanceof File){
                    const fileReader = new FileReader();
                    fileReader.onload = (event) => {
                        this.image = event.target.result
                    }
                    fileReader.readAsDataURL(this.preview)

                }else if(typeof this.preview == 'string'){
                    this.image = `/uploads/${this.preview}`
                }else {
                    this.image = null
                }
            }
        },
        watch:{
            'preview':'setPreview'
        }


    }
</script>

<style>
    .btn-close{
        position: absolute;
        bottom:10px;
        right:10px;

    }
</style>
