<template>
   <div id="contact">
      <div class="row">

         <div class="col-xs-3">
            <div class="list-group">
               <a href="#" class="list-group-item" v-for="(item,$index) in model" @click="read($index,item)">
                  <span class="badge" v-if="!item._read">غير مقروء</span>

                  <h4 class="list-group-item-heading">{{item.name}}</h4>
                  <p class="list-group-item-text" v-if="item.subject">{{item.subject.substring(0,30)}}...</p>
                  <p class="text-muted" v-if="!item._read">{{item.diff_humans}}</p>
               </a>
            </div>
         </div>
         <div class="col-xs-9" v-if="model.length > 0">

            <md-card>
               <md-menu md-size="4" md-direction="bottom left">
                  <md-button class="md-icon-button" md-menu-trigger>
                     <md-icon>more_vert</md-icon>
                  </md-button>
                  <md-menu-content>
                     <md-menu-item  @click.native="remove">
                        <span>حذف</span>
                        <md-icon>delete</md-icon>
                     </md-menu-item>
                  </md-menu-content>
               </md-menu>

               <md-card-content>
                  <div class="mail-head">
                     <h4 class="subject">{{selected.subject}}</h4>
                     <span class="text-muted">{{selected.name}} - {{selected.email}}</span> <span v-if="selected.phone"> - <md-icon>phone</md-icon> {{selected.phone}}</span>
                     <span class="pull-left">{{selected.created_at}} - {{selected.diff_humans}}</span>
                  </div>
                  <div class="mail-content">
                     {{selected.message}}
                  </div>

               </md-card-content>
            </md-card>
         </div>
         <h3 class="text-center" v-else>فارغ</h3>
      </div>
   </div>
</template>

<style>
   .list-group{
      margin:0;

   }
   .list-group-item{
      border-radius:0 !important;
      border: 1px solid #efefef;
   }
   .list-group-item-text{
      text-overflow: ellipsis;

   }
   .mail-content{
      border-top:1px solid #e4e4e4;
      padding:20px 0;
      margin-top:20px;
   }
   .subject{
      margin:0;
      margin-bottom:10px;
      color:#e91e63
   }
</style>

<script>
   export default{
       data(){
           return {
               model:[],
               selected:{},
               loading:false,
               breads:{
                   page_title:"الرسائل الوارده",
                   crumbs:[
                       {title:'الرئيسيه',link:'dashboard'},
                       {title:'الرسائل الوارده'},
                   ]
               },

           }
       },
       created(){
           this.fetchData();
           this.$store.commit('addBreads',this.breads);

       },
       methods:{
           fetchData(){
               var vm = this
               this.$store.commit('loader',true);
               axios.get('/messages').then((res) => {
                  Vue.set(vm.$data,'model',res.data.model)
                   vm.selected = vm.model[0];
                   vm.$store.commit('loader',false);
               }, (error) => {
                   vm.$store.commit('loader',false);

               })
           },
           remove(){
             if(this.selected && this.selected != null){
                 var vm = this;

                 axios.delete(`/message/${this.selected.id}`).then(function(res){
                    if(res.data.deleted){
                        toastr.success("تم الحذف")
                        vm.fetchData();
                    }
                 });

             }
           },
           read(index,item){
               this.selected = item;
               if(!item._read){
                   this.model[index]._read = 1;
                   axios.get(`/message/${item.id}/read`).then(function(res){
                       console.log('success');
                   });
                   this.$store.commit('getMessageCount')
               }
           }
       }

   }
</script>