<template>
    <div id="data-viewer">
        <template v-if="model.data.length > 0">
            <md-dialog-confirm
                    :md-title="confirm.title"
                    :md-content-html="confirm.contentHtml"
                    :md-ok-text="confirm.ok"
                    :md-cancel-text="confirm.cancel"
                    @close="onClose"
                    ref="dialog5">
            </md-dialog-confirm>

            <md-table-card>

                <md-table-alternate-header md-selected-label="عنصر">
                    <md-button class="md-icon-button"  @click.native="openDialog('dialog5')">
                        <md-icon>delete</md-icon>
                    </md-button>
                </md-table-alternate-header>
                <md-toolbar>
                    <h1 class="md-title" v-if="header_title">{{header_title}}</h1>
                </md-toolbar>

                <md-table :md-sort="params.column" :md-sort-type="params.direction" @select="onSelect" @sort="onSort">
                    <md-table-header>
                        <md-table-row>
                            <md-table-head v-for="title in head" :md-sort-by="title.key">{{title.title}}</md-table-head>
                        </md-table-row>
                    </md-table-header>
                    <md-table-body>
                        <slot v-for="item in model.data" :item="item"></slot>
                    </md-table-body>

                </md-table>
                <md-table-pagination
                        :md-size="params.per_page"
                        :md-total="model.total"
                        :md-page="model.page"
                        md-label="الصفوف"
                        md-separator="من"
                        :md-page-options="[5, 10, 25, 50]"
                        @pagination="onPagination">

                </md-table-pagination>

            </md-table-card>
        </template>
        <template v-else>
            <h1 class="text-center">المحتوى فارغ</h1>
        </template>
    </div>
</template>

<script>
    export default {
        props: {
            'title':null,
            'head':null,
            'source':null,
            'deleteUrl':null,
            'header_title':null,
            'checkbox':{
                default:true
            }
        },
        mounted(){
            this.fetchData()
        },
        computed:{
            total(){
                return parseInt(this.model.total)
            }
        },
        data(){
            return {
                confirm: {
                title: 'هل تريد حذف هذه الصور ؟',
                contentHtml: 'سوف يتم حذف الصور نهائياً ولا يمكنك الرجوع لها مره أخري',
                ok: 'تأكيد',
                cancel: 'إلغاء'
            },
                selected:null,
                loading:false,
                model:{
                    data:[]
                },
                params:{
                    column:'id',
                    direction:'desc',
                    per_page:5,
                    page:1,
                    search_column:'id',
                    search_operator:'equal_to',
                    search_query_1:'',
                    search_query_2:''
                },
                operators:{
                    not_equal	:	'!=',
                    equal_to	:	'=',
                    less_than	:	'<',
                    greater_than:	'>',
                    less_than_or_equal_to	:	'<=',
                    greater_than_or_equal_to	:	'>=',
                    in	: 'IN',
                    not_in	:	'NOT_IN',
                    like	:	'LIKE',
                    between	:	'BETWEEN',
                }

            }
        },
        methods:{
            fetchData(){
                var vm = this;
                vm.$store.commit('loader',true);
                axios.get(this.buildUrl()).then(function(res){
                    Vue.set(vm.$data,'model',res.data.model);
                    vm.$store.commit('loader',false);
                },function(err){
                    vm.$store.commit('loader',false);
                });
            },
            buildUrl(){
                var p = this.params;
                return `${this.source}?page=${p.page}&column=${p.column}&direction=${p.direction}&per_page=${p.per_page}&search_column=${p.search_column}&search_operator=${p.search_operator}&search_query_1=${p.search_query_1}&search_query_2=${p.search_query_1}`
            },
            onSelect(selected){
                this.selected = null;
                this.selected = selected;
            },
            onSort(sort){
                this.params.direction = sort.type;
                this.params.id = sort.name;
                this.fetchData()

            },
            onPagination(pg){
                this.params.page = pg.page;
                this.params.per_page = pg.size;
                this.fetchData();

            },

            openDialog(ref) {
                this.$refs[ref].open();
            },
            closeDialog(ref) {
                this.$refs[ref].close();
            },
            onClose(type) {
                if(type === 'ok'){
                    this.delete();
                }
            },
            delete(){
                var ids = []
                for(var key in this.selected) {
                    ids[key] = this.selected[key].id;
                }
                    var vm = this
                axios.post(this.deleteUrl,{ids}).then(function (res) {
                    vm.loading =true;
                    if(res.data.deleted){
                        vm.fetchData();
                        toastr.success('تم الحذف بنجاع :(')

                    }
                    vm.loading =false;
                },function (err) {
                    vm.loading =false;

                })
            }
        }

    }
</script>