<template>
    <md-card>
        <md-card-content>
            <form role="form" @submit.prevent="saveForm">
                <slot></slot>
                <div>
                    <md-button type="submit" class="md-raised md-primary">{{btnValue}}</md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</template>

<script>
    import {toMultipartedForm} from '../helpers/form';
    export default{
        name: 'Form',
        props: {
            src: String,
            method:{
                default:'post',
                type:String
            },
            form: {
                required: true,
                type: Object
            },
            btnValue: {
                default: 'حفظ',
                type: String
            }
        },
        data(){
            return {
                errors: {},
            }
        },
        methods: {
            saveForm(){
                const form = toMultipartedForm(this.form);
                var vm = this;
                axios[this.method](this.src, form).then(function (response) {
                    if (response.data.success) {
                        toastr.success("تم حفظ التغيرات")
                        vm.$emit("dataSaved");
                    }
                    console.log(response)
                }, function (error) {
                    console.log(error.response.data);
//                    return;
                    if (error.response.status == 422) {
                        vm.errors = error.response.data;
                        vm.$emit('hasErrors', error.response.data);
                        vm.toastErrors();
                    } else {
                        toastr.error("حدث خطأ غير متوقع");
                    }
                });
            },
            toastErrors(){
                for (var error in this.errors) {
                    toastr.error(this.errors[error][0]);
                }
            }
        }
    }
</script>
