<template>
    <div class="image-upload">
        <div id="crop"></div>
        <md-button class="md-raised md-primary v-center" @click.native="modalShow = true"><i class="material-icons">photo_camera</i>
            رفع صورة جديده
        </md-button>
        <br>
        <div v-if="modalShow" class="upload-area">
            <hr>

            <md-button class="md-raised browse-btn">أختر صورة
                <input type="file" @change="setUpUpload" class="center-block">
            </md-button>
            <md-button class="md-raised md-warn" @click.native="uploadFile"> حفظ</md-button>

            <md-button class="md-raised md-accent" @click.native="cancelUpload()"> الغاء</md-button>

        </div>

    </div>
</template>


<script>
    import Croppie from 'croppie'
    export default{
        props: ['img'],
        data(){
            return {
                image: null,
                crop: null,
                imgUploaded: null,
                modalShow: false
            }
        },
        mounted(){
            this.image = this.img;
            this.setUpCrop();
            this.$on('imageUploaded', function (imgData) {
                this.image = imgData;
                this.crop.destroy();
                this.setUpCrop();
            })
        },
        methods: {
            setUpCrop(){
                let cropEl = document.getElementById('crop');
                this.crop = new Croppie(cropEl, {
                    viewport: {width: 200, height: 200},
                    boundary: {width: 300, height: 300},

                });

                this.crop.bind({
                    url: this.image
                })

            },
            setUpUpload(e){
                var files = e.target.files || e.dataTransfer.files;

                if (!files.length) {
                    return;
                }

                this.createImage(files[0]);
            },
            createImage(file){

                var image = new Image(),
                    reader = new FileReader(),
                    vm = this;

                reader.onload = (e) => {
                    vm.image = e.target.result;
                    vm.$emit('imageUploaded', e.target.result);
                };

                reader.readAsDataURL(file)
            },
            uploadFile(){
                var vm = this;

                this.crop.result({
                    type: 'canvas',
                    size: 'viewport'
                }).then(function (res) {
                    axios.post('/user/upload-pic', {image: res}).then(res => {
                        vm.$store.state.global.user.image = res.data.pic
                        vm.modalShow = false;
                        vm.image = vm.img;
                        vm.crop.destroy();
                        vm.setUpCrop();
                        toastr.success("تم تغيير الصوره")
                    }, err => {
                        console.log(err)
                    });
                });
            },
            cancelUpload(){
                console.log(1)
                this.modalShow = false;
                this.image = this.img;
                this.crop.destroy();
                this.setUpCrop();
            }
        }
    }
</script>

<style lang="scss">
    @import "./croppie";

    .v-center {
        margin: auto;
    }

    .upload-area {
        text-align: center;
        margin: auto;

    .browse-btn {
        position: relative;
        display: block;
        margin: 10px auto;

    input {
        opacity: 0;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0
    }

    }
    }

</style>