<template>
    <div class="page-heading">
        <h4>{{breads.page_title}}</h4>
        <ul class="list-unstyled list-inline">
            <li v-for="bread in breads.crumbs">
                <template v-if="bread.link">
                    <router-link :to="{name:bread.link}">{{bread.title}} </router-link> \
                </template>
                <template v-else>{{bread.title}}</template>
            </li>
        </ul>
    </div>
</template>

<script>
    export default{

        computed:{
            breads(){
                return this.$store.state.global.breads
            }
        }
    }
</script>