<template>
    <div class="loading-page">
        <md-spinner :md-indeterminate="loading"></md-spinner>
    </div>
</template>

<script>
    export default{
        props:{
            loading:{
                default:true
            }
        }
    }
</script>
