<template>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#" id="resize-sidebar"><i class="material-icons">menu</i></a></li>
            </ul>

        </div>
    </nav>
</template>