<template>
    <div id="main-sidebar">
        <!--User Info-->
        <div id="user-info">
            <div class="user-img" :style="`background-image:url(/uploads/${userInfo.image})`"></div>
            <div class="user-details">
                <div class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{{userInfo.name}}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <router-link :to="{name:'userEdit'}" class="v-center">
                                <i class="material-icons">edit</i> تعديل بياناتي
                            </router-link>
                        </li>
                        <li><a href="/" class="v-center" target="_blank"> <i class="material-icons">open_in_browser</i> زيارة الموقع </a></li>
                        <li class="divider"></li>
                        <li><a href="#"  class="v-center" @click="logout"> <i class="material-icons">lock_outline</i> تسجيل الخروج </a></li>
                    </ul>
                </div>
                <p  class="v-center"> <i class="material-icons">email</i> {{userInfo.email}}</p>
            </div>
        </div>
        <!--Main Menu-->
        <div class="main-menu">
            <div class="phone-viewport">
                <md-list>
                    <md-list-item>
                        <router-link :to="{name:'dashboard'}" exact>
                            <md-icon>dashboard</md-icon>
                            <span>الرئيسيه</span>
                        </router-link>
                    </md-list-item>
                    <md-list-item>
                        <router-link :to="{name:'siteSetting'}">
                            <md-icon>settings</md-icon>
                            <span>إعدادات الموقع</span>
                        </router-link>
                    </md-list-item>

                    <md-list-item>
                        <md-icon>collections</md-icon>
                        <span>الصور المتحركة</span>
                        <md-list-expand>
                            <md-list>
                                <md-list-item>
                                    <router-link :to="{name:'sliderIndex'}" exact>عرض الجميع</router-link>
                                </md-list-item>
                                <md-list-item>
                                    <router-link :to="{name:'sliderCreate'}">إضافة</router-link>
                                </md-list-item>
                            </md-list>
                        </md-list-expand>
                    </md-list-item>

                    <md-list-item>
                        <md-icon>work</md-icon>
                        <span>الخدمات</span>
                        <md-list-expand>
                            <md-list>
                                <md-list-item>
                                    <router-link :to="{name:'serviceIndex'}" exact>عرض الجميع</router-link>
                                </md-list-item>
                                <md-list-item>
                                    <router-link :to="{name:'serviceCreate'}">إضافة</router-link>
                                </md-list-item>
                            </md-list>
                        </md-list-expand>
                    </md-list-item>

                    <md-list-item>
                        <md-icon>chrome_reader_mode</md-icon>
                        <span>المقالات</span>
                        <md-list-expand>
                            <md-list>
                                <md-list-item>
                                    <router-link :to="{name:'articleIndex'}" exact>عرض الجميع</router-link>
                                </md-list-item>
                                <md-list-item>
                                    <router-link :to="{name:'articleCreate'}">إضافة</router-link>
                                </md-list-item>
                            </md-list>
                        </md-list-expand>
                    </md-list-item>

                    <md-list-item>
                        <md-icon>feedback</md-icon>
                        <span>قالوا عنا</span>
                        <md-list-expand>
                            <md-list>
                                <md-list-item>
                                    <router-link :to="{name:'testimonialIndex'}" exact>عرض الجميع</router-link>
                                </md-list-item>
                                <md-list-item>
                                    <router-link :to="{name:'testimonialCreate'}">إضافة</router-link>
                                </md-list-item>
                            </md-list>
                        </md-list-expand>
                    </md-list-item>
                    <md-list-item>
                        <router-link :to="{name:'contactIndex'}" exact>
                            <md-icon>mail</md-icon>
                            <span>رسائل وارده</span>
                            <span class="badge" v-if="messageCount">{{messageCount}}</span>
                        </router-link>
                    </md-list-item>
                    <md-list-item>
                        <router-link :to="{name:'pageIndex'}" exact>
                            <md-icon>pages</md-icon>
                            <span>الصفحات</span>
                        </router-link>
                    </md-list-item>

                </md-list>
            </div>
        </div>
    </div>
</template>


<script>
    export default{
        created(){
          this.fetchImg();
          this.$store.commit('getMessageCount');
        },
        computed:{
            userInfo(){
                return this.$store.state.global.user
            },
            messageCount(){
                return this.$store.state.global.messageCount
            }
        },
        methods:{
            fetchImg(){
                var vm = this
                vm.loading = true;
                axios.get('/user/edit').then((res) => {
                    vm.$store.commit('initUser',res.data.form)
                }, (error) => {
                    console.log(error);
                })
            },
            getMessageCount(){
                var vm = this;
                axios.get('/message/count').then(function(res){
                    Vue.set(vm.$data,'messageCount',res.data.messageCount)
                })
            },
            logout(){
                axios.post('/logout').then(function(res){
                    if(res.data.success){
                        toastr.success("إلى اللقاء :)");
                        setTimeout(function(){
                            location.href = "/";
                        },1000);
                    }
                });
            }
        }
    }
</script>